<main class="container">
  <div class="section">
          <div class="row">
            <div class="col s12 m6 offset-m3">
    <h3>Add an Author:</h3>
    <br>
    <form action="/authors/add" method="POST">
        <label for="first_name">First Name</label>
        <input id="first_name" name="first_name">
        <label for="last_name">Last Name:</label>
        <input id="last_name" name="last_name">
        <br>
        <br>
        <label for="biography">Author Biography:</label>
        <textarea id="biography" name="biography" class="materialize-textarea"></textarea>
        <label for="author_portrait_url">Author Portrait Url:</label>
        <input id="author_portrait_url" type="url" name="author_portrait_url">
        <div class="input-field">
            <select id="addbook" name="book_id">
                <option value="" disabled selected></option>
                {{#each book}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
            <label for="activity_id">Add a book to Author</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Submit</button>

    </form>
</div>
  </div>
</div>
</main>
