<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="card large">
                    <div class="card-image front-page">
                        <a href="/books">
                            <img class="front-card" src="http://milestoneseducation.com/wp-content/uploads/2016/06/Books-bookshelf-person-head-540w.jpg">
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="/books">Books</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card large">
                    <div class="card-image front-page">
                        <a href="/authors"><img class="front-card" src="https://www.drumbeatmarketing.net/wp-content/uploads/2013/10/new-writer.jpg">
                    </div>
                    </a>
                    <div class="card-action">
                        <a href="/authors">Authors</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
