<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Galvanize Reads <img class="logoimage" src="http://www.oliversacks.com/os/wp-content/uploads/2015/04/DSC_6976-opt.jpg" alt=""/></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
      </ul>
            </div>
        </nav>
    </div>
    </header>
  <main>
    {{{body}}}
  </main>
    <footer class="page-footer teal">
          <div class="container">
            <div class="row">
          <div class="footer-copyright">
            <div class="container footer-center">
            <a class="grey-text text-lighten-4 center footer-text" href="https://github.com/wthomasdev/galvanize-reads">Github</a>
            </div>
          </div>
        </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/script.js"></script>
</body>
</body>

</html>
